@font-face {
    font-family: "Neue Machina-Regular";
    src: url('../assets/fonts/NueueMachina/PPNeueMachina-Regular.otf');
  }
  @font-face {
    font-family: "Neue Machina-Black";
    src: url('../assets/fonts/NueueMachina/PPNeueMachina-Black.ttf');
  }
  .about{

    -webkit-transition: all ease 0.6s;
    -moz-transition: all ease 0.6s;
    -o-transition: all ease 0.6s;
    -ms-transition: all ease 0.6s;


    cursor: none;
    



  }
  about::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

  
  .about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh; 
    padding: 0 20px;
  }


  .about-image-container ,  .about-content{
    width: 35%; /* Adjust the width of the boxes as per your requirement */
    height: 75%; /* Adjust the height of the boxes as per your requirement */
    margin: 0 5%; /* Set the desired amount of space between the boxes */
  }
  
  .about-image-container {
    /* flex-basis: 50%; */
    max-width: 40%;
    overflow: hidden;
    border-radius: 10vh;
  }
  
  .about-image {
    /* display: block; */
    width: 100%;
    border-radius: 10px;
    height: 100%;

  }
  
  .about-content {
    height: 100%;
    flex-basis: 50%;
    padding: 4%;
    background-color: #fff;
    border-radius: 80px;
    font-family: "Neue Machina-Regular";
    font-size: 4vh;
    line-height: 6vh;
    margin-left: 5vh;
  }
  






  /* social links */

  
  .social-links {
    position: flex;
    pointer-events: inherit;
    display: flex;

  }
  
  .social-links a {
    display:inline-block;
    margin-left: 10px;
    color: #FB9855;
    font-size: 40px;
    line-height: 1;
  }
  
  .social-links a:hover {
    color: #0077b5;
  }
  
  .social-links i {
    transition: color 0.2s ease-in-out;
  }
  
  .social-links .fa-twitter:hover {
    color: #1da1f2;
  }
  
  .social-links .fa-linkedin:hover {
    color: #0077b5;
  }
  
  .social-links .fa-spotify:hover {
    color: #1db954;
  }
  
  .social-links .fa-instagram:hover {
    color: #e1306c;
  }






