@font-face {
    font-family: "NeueMachina Light";
    src: url('../assets/fonts/NueueMachina/PPNeueMachina-Light.ttf');
}


.location-time {
  /* display: flex; */
  /* padding-right: 20px; */
  margin-top: 20vh;
  

}

.location-time p {
  position: absolute;
  margin: 10px;
  font-size: 20px;
  text-align: right;
  color: #2A56FF;
  z-index: 4;
  font-family: "NM Light";
  writing-mode:vertical-rl;

}


