@font-face {
  font-family: "Parabole";
  src: url(../assets/fonts/Parabole/Parabole.ttf);
}

@font-face {
  font-family: "NeueMachina Regular";
  src: url(../assets/fonts/NueueMachina/PPNeueMachina-Regular.ttf);
}



.hoverAnimation {
  border: 2px solid currentColor;
  border-radius: 1.5rem;
  color: #F39D5A;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  overflow: hidden;
  padding: 0.3rem 0.8rem;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 3;
  cursor: none;
}

.hoverAnimation::after {
  background-color: #2A56FF;
  border-radius: 1.5rem;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
  pointer-events: none;
  cursor: None;
}

.hoverAnimation:hover::after {
  transform: translate(0, 0);
}

.hoverAnimation:hover {
  border: 2px solid transparent;
  color: #F39D5A;
  transform: scale(1.05);
  will-change: transform;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 15%;
  margin-top: 2%;
  z-index: 2;
  cursor: none !important;
}

.name {
  font-family: "Parabole";
  font-size: 4vw;
  text-align: left;
  color: #2a56ff;
  margin-right: 5%;
}

#buttons-container {
  justify-content: center;
}

.button-wrapper {
  display: flex;
  margin-right: 1rem;
}

.button-wrapper > *:not(:last-child) {
  margin-right: 0.6rem;
  margin-bottom: 0;
  justify-content: center;
}

.spacer {
  flex: 1;
}

.resume-button {
  background-color: transparent; /* Remove the background color fill */
}
