@font-face {
  font-family: "Parabole";
  src: url(assets/fonts/Parabole/Parabole.ttf) format("truetype");
}
@font-face {
  font-family: "NM Light";
  src: url(assets/fonts/NueueMachina/PPNeueMachina-Light.otf) format("OpenType");
}

@font-face {
  font-family: "Right Grotesk";
  src: url(assets/fonts/RightGrotesk/Display/PPRightGrotesk-BoldItalic.otf) format("OpenType");
}




.App {
  cursor: none !important;
}







