@font-face {
  font-family: "Parabole";
  src: url(assets/fonts/Parabole.ttf) format("truetype");
}


.App {
  cursor: none !important;
}


.name{

  /* background: url(assets/textures/blue-noise-texture.png) no-repeat center center;
  background-size: cover;

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip:text;
  background-clip:text;  */

  width: auto;
  left: 5%;
  top: 5%;
  position: absolute;
  border-radius: 5px;
  font-size: 5.4vw;
  text-align: center;
  color: #2A56FF;

}






