@font-face {
  font-family: "Parabole";
  src: url(assets/fonts/Parabole/Parabole.ttf) format("truetype");
}
@font-face {
  font-family: "NM Light";
  src: url(assets/fonts/NueueMachina/PPNeueMachina-Light.otf) format("OpenType");
}

@font-face {
  font-family: "Right Grotesk";
  src: url(assets/fonts/RightGrotesk/Display/PPRightGrotesk-BoldItalic.otf) format("OpenType");
}




.App {
  cursor: none !important;
}


.name{
  width: auto;
  left: 5%;
  top: 5%;
  position: absolute;
  border-radius: 5px;
  font-size: 4.5vw;
  text-align: center;
  color: #2A56FF;
  z-index: 5;
  font-family: Parabole;


}

.location-time {
  display: flex;
  padding-right: 20px;

}

.location-time p {
  margin: 10px;
  font-size: 20px;
  text-align: right;
  color: #2A56FF;
  z-index: 4;
  font-family: "NM Light";
  writing-mode:vertical-rl;

}






